<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="#">校园零售交易平台</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html">首页</a>
      </li>
      <li class="nav-item" id="userOp">
        <a class="nav-link" href="users.html">用户</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="my.html">个人中心</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-primary my-2 my-sm-0 ml-2" id="postGoodsBtn" href="post_goods.html">发布商品</a>
    </div>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-danger my-2 my-sm-0 ml-2" onclick="clearLocalStroge()">退出登录</a>
    </div>
  </div>
</div>
</nav>
